<div class="author-box">
  <div class="author-avatar">
    <img src="https://github.com/ivanbonma.png" alt="{{ site.author }}">
  </div>
  <div class="author-info">
    <h3>Sobre el autor</h3>
    <p><strong>{{ site.author }}</strong></p>
    <p>Desarrollador apasionado por la tecnología. Comparto conocimiento sobre desarrollo web, DevOps y programación.</p>
    <div class="author-social">
      <a href="https://github.com/ivanbonma" target="_blank">GitHub</a>
      <a href="https://twitter.com/ivanbonma" target="_blank">Twitter</a>
      <a href="https://linkedin.com/in/ivanbonma" target="_blank">LinkedIn</a>
    </div>
  </div>
</div>